    
    
    
    
    .folio .encabezado {
      display: inline-block;
      height: 50px;
      width: 100%;
      /*border-bottom: 1px solid black;*/
    }

    .folio .encabezado .texto {
      width: 49%;
      /*border: 1px solid green;*/
      float:left;
    }

    .folio .encabezado .logo {
      height: 49px;
      /*border: 1px solid red;*/
      float: right;
    }







    .folio p .titulo {
      font-size: 12px;
      font-weight: bolder;
      text-decoration: underline;
    }

    .folio .cuerpo p {
        text-indent: 1.5em;
        text-align: justify;
        margin-bottom: 1em;
    }

    folio > .cuerpo > table {
      width: 100%;
    }

    .folio > .cuerpo > table > tr > td {
        text-align: center; /*?*/
    }

    table .con_borde {
      border: 1px solid black;
    }


