<div class="folio">
    <div class="encabezado">
        <span>Expediente: <span d-resalte>{{prueba.expediente.numero}}</span></span>
        <img class="logo" src="../../assets/imgs/elche/logo_ayto.png"/>
    </div>

    <div class="cuerpo">
    
    <p class="titulo">
        ACTA DE REQUERIMIENTO, INFORMACION DE DERECHOS E INVESTIGACION DE LA PRUEBA DE DETECCIÓN DE DROGAS
    </p>
   
    <p>
        En <span d-resalte>{{prueba.expediente.lugar}}</span> de 
        <span d-resalte>{{prueba.expediente.ciudad}}</span>, a las 
        <span d-resalte>{{prueba.derechos_hora}}</span> horas del 
        <span d-resalte>{{prueba.derechos_fecha|date:'dd/MM/yyyy'}}</span>, 
        el funcionario con NIP <span d-resalte>{{prueba.expediente.instructor}}</span>, en funciones de policía judicial de tráfico, requiere a:
    </p>
    <p>
        <b><span d-resalte>{{(prueba.probante.es_hombre?'D':'Dña')}}</span>.  
        <span d-resalte>{{prueba.probante.apellidos_nombre}}</span> 
        <span d-resalte>{{prueba.probante.tipo_documento_id?'con '+prueba.probante.tipo_documento_id:'INDOCUMENTADO'}}</span> 
        <span d-resalte>{{prueba.probante.numero_documento_id?'número':''}} {{prueba.probante.numero_documento_id}}</span></b>
        , nacid{{(prueba.probante.es_hombre?'o':'a')}} el <span d-resalte>{{prueba.probante.fecha_nacim|date:'dd/MM/yyyy'}}</span> 
        en <span d-resalte>{{prueba.probante.lugar_nacim}}</span> hij{{(prueba.probante.es_hombre?'o':'a')}} de 
        <span d-resalte>{{prueba.probante.nombre_padres}}</span>, con domicilio en 
        <span d-resalte>{{prueba.probante.domicilio_poblacion}}</span> en 
        <span d-resalte>{{prueba.probante.domicilio_calle}}</span>, 
        {{prueba.probante.contacto_telef?'con':'sin'}} teléfono de contacto 
        <span d-resalte>{{prueba.probante.contacto_telef?'número '+prueba.probante.contacto_telef+', ':''}}</span>
        {{prueba.probante.contacto_email?'con':'sin'}} dirección de correo electrónico 
        <span d-resalte>{{prueba.probante.contacto_email}}</span>.
    </p>   
    <p>
        Como
        <span i18n>{prueba.probante_calidad, plural, =0 {conductor} =1 {ocupante} =2 {peatón}}</span>
        <span *ngIf="prueba.probante_calidad<2">        
            del vehículo 
            <span d-resalte>{{prueba.vehiculo.tipo}}</span> matricula 
            <span d-resalte>{{prueba.vehiculo.matricula}}</span> 
            <span *ngIf="prueba.probante_calidad<1">
                y provisto de Licencia o Permiso de Conducción número 
                <span d-resalte>{{prueba.probante.carne_numero}}</span> de la clase 
                <span d-resalte>{{prueba.probante.carne_clase}}</span>, expedido en 
                <span d-resalte>{{prueba.probante.carne_lugar_exp}}</span>, el 
                <span d-resalte>{{prueba.probante.carne_dsd}}</span> y válido hasta 
                <span d-resalte>{{prueba.probante.carne_hst}}</span>, 
            </span>
        </span>
        para que, tras haber sido requerido a una prueba de detección del alcohol en aire espirado con el siguiente resultado <span d-resalte>{{alc_res}}</span> mg/l., se someta a <b>PRUEBA DE DETECCION DE DROGAS EN FLUIDO ORAL</b>, a lo cual se le informa de que está obligado en cumplimiento con lo dispuesto en el art. 796.1.7a de la Ley de Enjuiciamiento Criminal y el articulo 14.2 del R.D.L. 6/2015, de 30 de octubre, por el que se aprueba el texto refundido de la Ley de Tráfico, Circulación de Vehículos a Motor y Seguridad Vial. 
    </p>
    Las pruebas mencionadas se llevan a cabo como consecuencia de:<br/>

    <table><tr><td>
        <input [(ngModel)]="prueba.motivo.control" type="checkbox"> Control preventivo &nbsp;
        <input [(ngModel)]="prueba.motivo.signos" type="checkbox">Signos de consumo &nbsp;
        <input [(ngModel)]="prueba.motivo.infraccion" type="checkbox">Infracción administrativa &nbsp;
        <input [(ngModel)]="prueba.motivo.accidente" type="checkbox">Accidente de tráfico &nbsp;
    <td></tr></table><br/>
   


(RELLENAR EL SIGUIENTE CUADRO SOLO SI LA PRUEBA ES REQUERIDA POR OTRA DOTACIÓN POLICIAL).

    <!--
    <table><tr>
        <ngl-form-checkbox label="Control preventivo" style="display: inline-block;"><input nglFormControl type="checkbox" [(ngModel)]="prb_mtv_cp" /></ngl-form-checkbox>
        <ngl-form-checkbox label="Signos externos de consumo" style="display: inline-block;"><input nglFormControl type="checkbox" [(ngModel)]="prb_mtv_se" /></ngl-form-checkbox>
        <ngl-form-checkbox  label="Infracción de tráfico" style="display: inline-block;"><input nglFormControl type="checkbox" [(ngModel)]="prb_mtv_it" /></ngl-form-checkbox>
        <ngl-form-checkbox  label="Accidente de tráfico" style="display: inline-block;"><input nglFormControl type="checkbox" [(ngModel)]="prb_mtv_at" /></ngl-form-checkbox>
    </tr></table><br/>
    <p>La presente prueba es requerida por los funcionario/s con número de identificación profesional <span d-resalte>{{prb_fun_nip}}</span> de <span d-resalte>{{prb_fun_crp}}</span>. Encontrándose la prueba.probante sometida a las pruebas <span d-resalte>{{prb_520?'DETENIDA POR':'NO detenida.'}} <span *ngIf="prb_520t == 'Si'">{{prb_520_xq? prb_520_xq : '____________________'}}</span></span></p>
    <div class="caja_firmas"><table class="tabla_firmas"><tr><td>Fdo: Funcionario/s Requirente/s:</td><td> <span d-resalte>{{prb_fun_nip}}</span></td></tr></table></div><br/>  
    <p>Se informa {{(prs_sxh?'al':'a la')}} interesad{{(prs_sxh?'o':'a')}} de que si el test o prueba indiciaria resultara positivo, o si presentara signos de consumo de drogas, quedará <b>obligado a facilitar una segunda muestra de saliva en cantidad suficiente</b> para ser analizada en laboratorio homologado.</p>
    <p>Se informa, igualmente, de que la <b>NEGATIVA</b> a someterse a cualquiera de las pruebas mencionadas en los párrafos anteriores, podría ser constitutiva de <b>DELITO</b> contra la seguridad vial, tipificado en el artículo 383 del Código Penal, pudiendo ser castigado con penas de prisión de seis meses a un año y privación del derecho a conducir vehículos a motor y ciclomotores por tiempo superior a uno y hasta cuatro años.</p>
    <p>Asimismo, se informa {{(prs_sxh?'al':'a la')}} interesad{{(prs_sxh?'o':'a')}} de que si la prueba indiciaria resultara positiva, podrá contrastar los resultados obtenidos mediante análisis de sangre, autorizando para ello tanto su traslado a un centro sanitario, como la posterior extracción de sangre por prueba.probantel sanitario. Cuando esta prueba de contraste arroje un resultado positivo será abonada por el interesado.</p>
    <p>Si el resultado del análisis de la segunda muestra de saliva por el laboratorio homologado fuera positivo, la Administración competente podrá iniciar el correspondiente expediente sancionador administrativo. Si procediese conforme a los supuestos del artículo 379 del Código Penal, que establece como delito la conducción de vehículos a motor y ciclomotores bajo la influencia de drogas tóxicas, estupefacientes y sustancias psicotrópicas, se pondrá en conocimiento de la autoridad judicial correspondiente a los efectos oportunos.</p>
    <p>Tras ser informad{{(prs_sxh?'o':'a')}} de la normativa y derechos aplicables a las pruebas de detección de drogas, {{(prs_sxh?'el':'la')}} implicad{{(prs_sxh?'o':'a')}} manifiesta:</p>
    <p><ngl-form-checkbox label="Su conformidad a realizar las pruebas" style="display: inline-block;"><input nglFormControl type="checkbox" [(ngModel)]="prb_som_si" /></ngl-form-checkbox><ngl-form-checkbox label="Su negativa a realizar las pruebas" style="display: inline-block;"><input nglFormControl type="checkbox" [(ngModel)]="prb_som_no" /></ngl-form-checkbox></p>
    <p>El presente acta quedará adjunto al boletín de denuncia y/o al Atestado. <b>CONSTE Y CERTIFICO</b>.</p>
    <div class="caja_firmas"><table class="tabla_firmas"><tr><td>Fdo: Funcionario/s:</td><td><span d-resalte>{{exp_instructor}}</span></td><td><span d-resalte>{{exp_secretario}}</span></td><td>Interesado</td></tr></table></div><br/>  
</div>

<div class="print-footer">
    {{textoPie}}
</div>-->
</div> <!--folio-->