

<div class="content-header">
  <h1>Pruebas de Drogas</h1>
</div>

<div class="content-box">
  <div class="section">

    
    Aquí puede ir un flujograma de las pruebas y cuando es penal o adtivo... <br/>
    con colores que coincidan con los well

  </div>
</div>


<div class="content-box">
  <div class="section">


    

        <div class="well well-sm puntero-mano" routerLink="dl-drg-dchos">
           1.- Información Obligaciones y derechos de la prueba
        </div>
        <div class="well well-sm puntero-mano" routerLink="dl-drg-indicio">
           2.- Práctica del Test Indiciario
        </div>
        <div class="well well-sm puntero-mano" routerLink="dl-drg-sg-prev">
           3.- Signos Previos (Vía a seguir)
        </div>
    
        <div class="well well-sm puntero-mano" routerLink="dl-drg-conf-a">
           4a.- Prueba Confirmatoria (vía Administrativa) + Cadena Custodia
        </div>

        <div class="well well-sm puntero-mano" routerLink="dl-drg-conf-p">
           4b.- Prueba Confirmatoria (vía Penal) + Cadena Custodia
        </div>

        <div class="well well-sm puntero-mano" routerLink="dl-drg-contraste">
           5.- Solicitud prueba de contraste
        </div>

        <div class="well well-sm puntero-mano" routerLink="dl-drg-sg-penal">
           6.- Signos Externos (vía penal)
        </div>


    <div class="panel panel-info">
      Aquí puede ir información adicional....
       
    </div>

  </div>
</div>

