
<div class="folio">

    <div class="encabezado">
        <span>Expediente: <span d-resalte>prueba.expediente.numero</span></span>
        <img class="logo" src="../../assets/imgs/elche/logo_ayto.png"/>
    </div>

    <div class="cuerpo">

        <p class="titulo">Atestado instruido por un presunto delito contra la Seguridad Vial de conducción de vehículos a motor bajo la influencia de bebidas alcohólicas.</p>

        <p>
            <span class="">DILIGENCIA.-</span>
            <br/>En Elche y en ______________________________________, siendo las_____ horas, del día____________, ante los funcionarios adscritos a la Unidad de Investigación de Accidentes de la Policía Local  de Elche, con carné profesional número _____ y_____, en adelante como Instructor y Secretario respectivamente, para la práctica de las presentes, COMPARECEN: 
            Los funcionarios del Cuerpo_______________________, con número de carné profesional __________y__________, integrantes de la dotación policial con indicativo _____________ los cuales: 
        </p>
        <p>
            PRESENTAN:<br/>
            D/Dña. ___________________________________________________________________________, con DNI/NIE _______________________, de nacionalidad _________________, nacido en _______________, el día ___/___/_____, hijo de _________ y de __________, vecino de _______________, con domicilio en la calle ______________________________________________
            _________________________________________________, con teléfono nº ___________________.
            Poseedor de permiso de conducción de clase _____, con número ___________________, expedido en __________________, en vigor desde el ___/___/______ hasta el ___/___/______.
            Conductor del vehículo ____________ marca/modelo ______________________________, matrícula _______________.
        </p>
        <p>
            MANIFIESTAN:<br/>
            BLA BLA BAL
        </p>
        
        <p>
            Que no tienen más que decir, firmando la presente, una vez leída en prueba de conformidad, en unión del Instructor, de lo que como Secretario, CERTIFICO.</P>
        </p>
        
    </div> <!--Cuerpo-->
</div><!--folio-->
