
<div class="folio">

    <div class="encabezado">
        <span>Expediente: <span d-resalte>prueba.expediente.numero</span></span>
        <img class="logo" src="../../assets/imgs/elche/logo_ayto.png"/>
    </div>

    <div class="cuerpo">

        <p class="titulo">DILIGENCIA DE NEGATIVA AL SOMETIMIENTO A LAS PRUEBAS DE DETERMINACIÓN ALCOHÓLICAS.</p>

        <p>
            En Elche siendo las ____:____ horas del día ___ /___ /______, se requiere al/la conductor/a D/Dña. __________________________________________________________________, para que se someta a la prueba de determinación del grado de impregnación alcohólica por el método del aire espirado, utilizando para ello el etilómetro oficialmente autorizado marca DRÄGER, modelo 7110-E, número _______________.
        </p>
        <p>
            Informándole que en el caso de que la primera prueba resultara positiva y para mayor garantía, se le sometería a efectos de contraste a una segunda prueba idéntica a la anterior. De la misma forma se le advierte del derecho que le asiste a controlar por sí, o por cualquiera de sus acompañantes o testigos presentes, que entre la realización de la primera y segunda prueba medie un tiempo mínimo de diez minutos, manifestando que:
        </p>
        <p>
            SE NIEGA A SOMETERSE A LAS PRUEBAS. <br/>
            ________________________________________________________________________.
        </p>
        <p>
            Ante la <b>NEGATIVA</b>, los Agentes Instructores requieren nuevamente al conductor/a citado para que se someta a las pruebas determinadas, informándole que al no someterse incurre en una infracción administrativa muy grave (con sanción de hasta 500€) y podría incurrir en un presunto delito de negativa a someterse a las pruebas legalmente establecidas para la comprobación de las tasas de alcoholemia, en virtud de lo dispuesto en los artículo 383 del Código Penal, que podría ser castigado con la penas de prisión de seis meses a un año y privación del derecho a conducir vehículos a motor y ciclomotores por tiempo superior a uno y hasta cuatro años.
        </p>
        <p>
            No obstante se le dio un margen de tiempo para que reconsiderara su actitud, y como quiera que a las ____:____ horas del día ____/____/______ persiste en su negativa a someterse a cualquier tipo de pruebas, se procedió a dar por concluida la presente diligencia e inicio de diligencias por presunto delito de negativa a someterse a las pruebas legalmente establecidas para la comprobación de las tasas de alcoholemia y de conducir bajo los efectos del alcohol, por lo que se le instruye atestado con número __________________, siendo remitido al Juzgado de Instrucción número _______ de Elche.
        </p>
        <p>
             Además queda informado que va a ser denunciado administrativamente por negarse a someterse a las pruebas de detección de alcohol en aire espirado a las que está obligado (artículo 21 del Reglamento General de Circulación), formulándose por ello denuncia con número de boletín ____________________________________, que quedará a expensas del procedimiento judicial.
        </p>
        <p>
            Y para que conste se extiende la presente diligencia que firma, tras leerla y hallarla conforme en unión de los Agentes Instructores. 
        </p>
        
    </div> <!--Cuerpo-->
</div><!--folio-->
