<div class="content-header">
  <h1>Pruebas de Alcoholemia</h1>
</div>

<div class="content-box">
  <div class="section">

    
    Aquí puede ir un flujograma de las pruebas y cuando es penal o adtivo... <br/>
    con colores que coincidan con los well

  </div>
</div>


<div class="content-box">
  <div class="section">


    <div class="well well-sm">
      <a routerLink="ofmv">
        Derechos y Garantías de la prueba
      </a>
    </div>

    <div class="panel panel-info">
      Otro
       
    </div>


    <div class="well well-sm">O---</div>
    <div class="well well-sm">O--</div>

    <div class="well well-sm">---</div>
    <div class="well well-sm">O---</div>

  </div>
</div>