
<div class="folio">

    <div class="encabezado">
        <span>Expediente: <span d-resalte>prueba.expediente.numero</span></span>
        <img class="logo" src="../../assets/imgs/elche/logo_ayto.png"/>
    </div>

    <div class="cuerpo">

        <p class="titulo">DILIGENCIA DE INFORMACIÓN DE DERECHOS Y GARANTIAS SOBRE  LA PRUEBA DE ALCOHOLEMIA.</p>

        <p>
            <span class="">DILIGENCIA.-</span>
            Por la que se hace constar que a las 
            <span d-resalte>{{prueba.derechos_hora}}</span> horas del día
            <span d-resalte>{{prueba.derechos_fecha}} <!--|date:'dd/MM/yyyy'--></span>, 
            se informa {{(prueba.probante.es_hombre?'al':'a la')}} conductor{{(prueba.probante.es_hombre?'':'a')}} 
            <b><span d-resalte>{{(prueba.probante.es_hombre?'D':'Dña')}}</span>. <span d-resalte>{{prueba.probante.apellidos_nombre}}</span></b>, 
            sobre las garantías y derechos que tiene en relación a las pruebas de determinación del grado de impregnación alcohólica:
        </p>
        <p>
            Artículos 21, 22 y 23 del Reglamento General de Circulación:<br/>
            Que los agentes de la autoridad encargados de la vigilancia del tráfico podrán someter a dichas pruebas a todos los conductores de vehículos o bicicletas en las siguientes circunstancias:
        </p>
        <ul>
            <li>A cualquier usuario de la vía o conductor de vehículo implicado directamente como posible responsable en un accidente de circulación.</li>
            <li>A quienes conduzcan cualquier vehículo con síntomas evidentes, manifestaciones que denoten o hechos que permitan razonablemente presumir que lo hacen bajo la influencia de bebidas alcohólicas.</li>
            <li>A los conductores que sean denunciados por la comisión de alguna de las infracciones a las normas contenidas en la legislación sobre tráfico y seguridad vial.</li>
            <li>A los que, con ocasión de conducir un vehículo, sean requeridos al efecto por la autoridad o sus agentes dentro de los programas de controles preventivos de alcoholemia ordenados por dicha autoridad.</li>
        </ul>
        <p>
            Que si el resultado fuera positivo, debe someterse a una segunda prueba de detección alcohólica por el aire espirado, mediante un procedimiento similar al utilizado para la primera, a efectos de contraste, si bien según jurisprudencia dicha prueba es igualmente obligatoria.
        </p>
        <p>
            Que para evitar posibles distorsiones en el resultado de la prueba, es aconsejable que entre la realización de ambas, permanezca sin comer, beber, fumar, ni realizar ejercicio físico alguno.
        </p>
        <p>
            Que tiene derecho a controlar, por sí o por cualquiera de sus acompañantes, o testigos presentes, que entre la realización de la primera y segunda prueba, medie un tiempo mínimo de 10 minutos.
        </p>
        <p>
            Que tiene derecho a contrastar los resultados obtenidos mediante los análisis de sangre, orina u otros análogos, que el personal facultativo del Centro Médico al que sea trasladado, estime más adecuados.
        </p>
        <p>
            Queda igualmente informado que el importe de dichos análisis deberá ser previamente depositado por el 
            interesado y con él se atenderá al pago cuando el resultado de la prueba de contraste sea positivo.
        </p>
        <p>
            Que tiene derecho a formular cuantas alegaciones u observaciones tenga por conveniente, por sí mismo o 
            por medio de un acompañante o defensor, si lo tuviere.
        </p>
        <p>
            Que la negativa, <b>como conductor</b>, podría comportar la comisión de un DELITO DE NEGATIVA A SOMETERSE 
            A LAS PRUEBAS LEGALMENTE ESTABLECIDAS DE DETERMINACIÓN ALCOHOLICA contenido en el artículo 383 del Código 
            Penal, castigado con la pena de PRISIÓN, de 6 meses a 1 año y privación del derecho a conducir vehículos a 
            motor o ciclomotores  de 1 a 4 años. 
        </p>
        <p>
            Así mismo se le informa que según el Real Decreto 1428/2003, de 21 de Noviembre, las tasas de alcohol 
            máximas autorizadas son:
        </p>
        <table>
            <thead>
                <th>Apartado</th>
                <th>Clase Vehículo</th>
                <th>Tasa en sangre</th>
                <th>Tasa en aire</th>
            </thead>
            <tbody>
                <tr>
                    <td>B</td>
                    <td>Conductor de vehículos destinados al transporte de mercancías con MMA superior a 3.500 kg., 
                        vehículos destinados al transporte de viajeros de más de 9 plazas o de servicio público, 
                        escolar o de menores, mercancías peligrosas, de urgencia o transportes especiales.
                    </td>
                    <td>0.3 g./l.</td>
                    <td>0.15 mlg./l.</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Los conductores de cualquier vehículo, durante los dos años siguientes a la obtención del 
                        permiso o licencia que les habilita para conducir. A estos efectos solo se computará la 
                        antigüedad de la licencia de conducción para  todos aquellos vehículos que solo requieran 
                        la obtención de la misma.
                    </td>
                    <td>0.3 g./l.</td>
                    <td>0.15 mlg./l.</td>
                </tr>
            </tbody>
        </table>
        <p>
            Además de las citadas tasas, es informado que de acuerdo con lo establecido en el art. 379 del 
            Código Penal vigente, conducir un vehículo a motor o ciclomotor bajo la influencia de bebidas 
            alcohólicas, PUEDE SER  UN HECHO CONSTITUTIVO DE DELITO, siendo siempre imputable en el caso de 
            que la tasa de alcohol en aire espirado supere los 0,60mg/l o con una tasa de alcohol en sangre 
            superior a 1,2 gramos/l., con una pena de prisión de 3 a 6 meses, o la de multa de 6 a 12 meses y 
            trabajos en beneficio de la comunidad de 31 a 90 días, y, en cualquier caso, a la privación del 
            derecho a conducir vehículos a motor y ciclomotores por tiempo de 1 y hasta 4 años.
        </p>
        <p>
            Y para que conste se extiende la presente diligencia que firma, tras leerla y hallarla conforme 
            en unión de los Agentes Instructores. 
        </p>
    </div> <!--Cuerpo-->
</div><!--folio-->
