
<div class="folio">

    <div class="encabezado">
        <span>Expediente: <span d-resalte>prueba.expediente.numero</span></span>
        <img class="logo" src="../../assets/imgs/elche/logo_ayto.png"/>
    </div>

    <div class="cuerpo">

        <p class="titulo">DILIGENCIA DE DETERMINACIÓN DEL GRADO DE ALCOHOLEMIA.</p>

        <p>
            En Elche siendo las       horas del día «FECHA», se requiere al/la conductor/a D/Dña. «NOMBRE_CONDUCTOR», para que se someta a la prueba de determinación del grado de impregnación alcohólica por el método del aire espirado, utilizando para ello el etilómetro oficialmente autorizado marca DRÄGER, modelo 7110-E, número «ETILOMETRO_Nº».
            <span class="">DILIGENCIA.-</span>
            Por la que se hace constar que a las 
            <span d-resalte>{{prueba.derechos_hora}}</span> horas del día
            <span d-resalte>{{prueba.derechos_fecha}} <!--|date:'dd/MM/yyyy'--></span>, 
            se informa {{(prueba.probante.es_hombre?'al':'a la')}} conductor{{(prueba.probante.es_hombre?'':'a')}} 
            <b><span d-resalte>{{(prueba.probante.es_hombre?'D':'Dña')}}</span>. <span d-resalte>{{prueba.probante.apellidos_nombre}}</span></b>, 
            sobre las garantías y derechos que tiene en relación a las pruebas de determinación del grado de impregnación alcohólica:
        </p>
        <p>
            Informándole que en el caso de que la primera prueba resultara positiva y para mayor garantía, se le sometería a efectos de contraste a una segunda prueba idéntica a la anterior. De la misma forma se le advierte del derecho que le asiste a controlar por si, o por cualquiera de sus acompañantes o testigos presentes, que entre la realización de la primera y segunda prueba medie un tiempo mínimo de diez minutos, manifestando que,  ___    .
        </p>
        <p>
            Se comunica a la persona que  se le va a someter, a efectos de contraste, a la práctica de una segunda prueba idéntica a la anterior. Así pues, siendo las ____:____  horas del día  ___ /___ /______, se procede a la realización de la segunda prueba, utilizando para ello el etilómetro marca DRÄGER modelo 7110-E, número _____________ dando un resultado de ____________ mg. de alcohol por litro de aire espirado (________________________________________________________________ mg./l.).
        </p>
        <p>
            Durante el tiempo transcurrido entre ambas pruebas el/la conductor/a implicado/a no ha consumido bebidas alcohólicas.
        </p>
        <p>
            Se informa al implicado/a del derecho a contrastar los resultados obtenidos anteriormente mediante análisis de sangre, orina u otros análogos, que el personal del Centro Médico al que sea trasladado/a estime más adecuado, quedando igualmente informado que el importe de dichos análisis deberá ser previamente depositado por el interesado y con él se atenderá al pago cuando el resultado de la prueba de contraste sea positivo (art.23 R.G.C.), manifestando que________________________________________________________________________.
        </p>
        <p>
             chekbox  Conducir un vehículo bajo los efectos del alcohol puede suponer un delito contra la seguridad vial tipificado en el artículo 379.2 del Código Penal, por lo que se instruye atestado con número______________, siendo remitido al Juzgado de Instrucción número ____________ de Elche.
             checkbox  Conducir un vehículo a motor con una tasa de alcohol superior a 0,25 o 0,15 mg/l supone una infracción del artículo 20 del Reglamento General de Circulación formulándose por ello denuncia con número de boletín «BOLETIN_Nº» que quedará a expensas del procedimiento judicial.
        </p>
        <p>
            Y para que conste se extiende la presente diligencia que firma, tras leerla y hallarla conforme en unión de los Agentes Instructores. 
        </p>
        
    </div> <!--Cuerpo-->
</div><!--folio-->
