
<div class="folio">



<h2>Documento - resumen del atestado instruido</h2>
<br/>
<hr/>
<h4>ATESTADOS E INVESTIGACIÓN DE ACCIDENTES</h4>
<table style="border:1px solid black; width:100%">
  <tr>
    <td>
      <p><input type="checkbox">Juicio rápido por delito con detenido (J.R.D.)</p>
      <p><input type="checkbox">Juicio rápido por delito sin detenido (J.R.S.D.)</p>
      <p><input type="checkbox">Juicio inmediato por falta (J.I.F.)</p>
    </td>
  </tr>
</table>
<table  style="border:1px solid black; width:100%">
  <tr>
    <td colspan="3">
      <p>Atestado número<sup>1</sup>: {{exp_numero}} de fecha #Fecha#</p>
      <p>Tipo de infracción penal: PRESUNTO DELITO CONTRA LA SEGURIDAD VIAL.- <br/>
	 Fecha y lugar de comisión del hecho: «FECHA»,    en «LUGAR», Elche.-
      </p>
      <p>
        Observaciones de trámite <sup>2</sup>:
      </p>
      <p>19:41 11/04/2017
        Citaciones <sup>3</sup>:
      </p>
      
    </td>
  </tr>
  <tr>
    <td>Encartados</td>
    <td>Día/Hora</td>
    <td>Situación-Circunstancia</td>
  </tr>
  <tr>
    <td>#Nombre</td>
    <td>#FH Juicio</td>
    <td>Denunciado</td>
  </tr>
</table>
    <div class="notas_pie">
        <sup>1</sup> Si fuera ampliatorio a otro anterior, indicar número, fecha y dependencia que lo tramitó.<br/>
        <sup>2</sup> Indicar si hay lesiones y grado de la lesión, si hay daños o efectos que deben ser trasladados; si han sido remitidas muestras para su análisis y laboratorio al que se ha remitido.<br/>
        <sup>3</sup> Relacionar encartados (denunciante, denunciado, testigo, perjudicado, etc.) indicando día y hora en que han sido citados y situación o circunstancia relativa a los mismos (causa por la que no han sido citados, si es extranjero y requiere intérprete y qué idioma habla, si es extranjero o nacional en tránsito, etc)<br/>
    </div>

</div><!--folio-->
