<div class="content-header">
  <h1>Extracción sanguínea</h1>
</div>

<div class="content-box">
  <div class="section">

    
    Aquí puede ir un flujograma de las extracciones sanguíneas... con colores que coincidan con los well

  </div>
</div>


<div class="content-box">
  <div class="section">


    <div class="well well-sm">
      <a routerLink="ofmv">
      
      Oficio a hospital, muestra voluntaria</a></div>
    <div class="panel panel-info">
      Aquí puede ir una explicación detallada y ocultable
       
    </div>


    <div class="well well-sm">Oficio a hospital, muestra terapéutica</div>
    <div class="well well-sm">Oficio solicitud mandamiento judicial muestra terapéutica</div>

    <div class="well well-sm">Oficio solicitud mandamiento judicial para extracción de sangre</div>
    <div class="well well-sm">Oficio a hospital, muestra por mandato judicial</div>

  </div>
</div>